body{
    margin: 0;
    font-family: sans-serif;
}
.editor{
    display: flex;
    width: 100vw;
    height: 100vh;  
}
.toolbar{
    width:250px;
    background: rgb(174, 172, 172);
}
.toolbar-item{
    padding: 15px;
}
.tool-label{
    display: block;
}
.image-area{
    flex-grow: 1;
    padding: 20px;
    background: #555
}
#canvas{
    max-width:100%;;
    max-height:100%;
}